
.facebook-text {
    color: #3b5998; /* Màu xanh Facebook */
}

/* Định dạng văn bản Đăng nhập gần đây */
.recent-login-text {
    color: #707070; /* Màu xám */
}

/* Định dạng danh sách người dùng gần đây */
.recent-login-list li {
    color: #707070; /* Màu xám cho danh sách người dùng gần đây */
}
.logo {
    width: 5pt;
    height: 5pt;
}